input,
select {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
label:first-child {
  margin-top: 40px;
}
input:focus {
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
  outline: none;
}

.product-management {
  .product-management-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #3a3a3a;
  }
}

.error {
  color: red;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.product-table th,
.product-table td {
  padding: 15px 20px;
  border: 1px solid #e0e0e0;
  text-align: left;
}
.product-table thead {
  background-color: #007bff;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-table tbody tr {
  transition: background-color 0.3s, transform 0.2s;
}

.product-table tbody tr:hover {
  background-color: #f0f8ff;
  transform: scale(1.02);
}

.product-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

button:hover {
  background-color: #c82333; /* Tối màu khi hover */
}
